DB_HOST=localhost
DB_PORT=5435
DB_NAME=nexo
DB_USER=nexo
DB_PASSWORD=nexo
SERVER_PORT=8080
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
REMINDER_FROM_EMAIL=no-reply@nexo.local
CORS_ORIGINS=http://localhost:4200
